<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css')}}">
</head>

<body>
    <div class=" background">
        <div class="heading">
            <p> </p>
            <p class="welcome">WELCOME TO SENTIMENT-ANALYSER</p>
            <p> </p>
        </div>
        <div><img src="../bar.png" /><img src="../pie.png" /></div>
    </div>
    </div>
</body>

</html>